.homepage main{
    padding: 1rem 4rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    
}

.homepage .todos-wrapper{
    display: flex  ;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.homepage .notodo{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}