.Modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.425);
}

.task-card{
    background-color: white;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-card button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(15, 15, 15);
}

.task-card form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-card input{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.task-card select{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(15, 15, 15);
}