.Todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C2C2C;
    color: white;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
    border-radius: 4px;
    

}

.Todo:hover{
    background-color: #3A3A3A;
}

.Todo .todo-button-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
    width: 30%;
     overflow: hidden;
}
.Todo button{
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 8px;
     padding: 0.5rem 1rem;
}
.Todo button:hover{
    background-color: white;
    color: black;
}
.Todo select{
    background-color:transparent ;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 0.5rem 1rem;

}
.Todo select option{
    background-color: rgb(20, 20, 20);
    color: white;
    padding-right: 1rem;
}
.Todo .task{
    width: 30%;
    overflow: hidden;
}
.Todo .scheduleTime{
    width: 10%;
    overflow: hidden;
}

.Todo .status{
    width: 20%;
    overflow: hidden;
    
    
}
